{% extends "index.html" %}
{% load static %}
    {% block additional_styles %}
    <link rel="stylesheet" type='text/css' href="{% static 'game/css/style_maze.css' %}">
    {% endblock %}
    {% block scripts %}
    <script src="{% static 'game/js/maze.js' %}"></script>
    {% endblock %}
{% block main_content %}
<div class="game_zone">
    <div class="info">
        <span>Time: -;</span>
        <span>Score: -;</span>
        <span>Size: -x-;</span>
    </div>
     <canvas id="MazeCanvas" width="750" height="750"></canvas>
</div>
<a href="/">На главную</a>
{% endblock %}
